In [13]:
library(tidyverse)
library(tximport)
library(DESeq2)

In [14]:
file = "t_data.ctab"

In [15]:
tmp <- read_tsv(file)
tx2gene <- tmp[, c("t_name", "gene_name")]
txi <- tximport(file, type = "stringtie", tx2gene = tx2gene)

── Column specification ────────────────────────────────────────────────────────
cols(
  t_id = col_double(),
  chr = col_double(),
  strand = col_character(),
  start = col_double(),
  end = col_double(),
  t_name = col_character(),
  num_exons = col_double(),
  length = col_double(),
  gene_id = col_character(),
  gene_name = col_character(),
  cov = col_double(),
  FPKM = col_double()
)


Warning message:
“25584 parsing failures.
   row col expected     actual          file
189583 chr a double GL000191.1 't_data.ctab'
189584 chr a double GL000191.1 't_data.ctab'
189585 chr a double GL000191.1 't_data.ctab'
189586 chr a double GL000191.1 't_data.ctab'
189587 chr a double GL000192.1 't_data.ctab'
...... ... ........ .......... .............
See problems(...) for more details.
”
reading in files with read_tsv

1


summarizing abundance

summarizing counts

summarizing length

In [9]:
sampleTable <- data.frame(condition = factor(rep(c("A"), each = 1)))
rownames(sampleTable) <- colnames(txi$counts)

In [16]:
names(txi)

[1] "abundance"           "counts"              "length"
[4] "countsFromAbundance"

In [19]:
head(txi$counts, n=30)

          [,1]
5S_rRNA       0.000000
7SK          60.100913
A1BG        226.055937
A1BG-AS1    235.714062
A1CF          0.000000
A2M         585.026509
A2M-AS1     391.813501
A2ML1         0.000000
A2ML1-AS1     0.000000
A2ML1-AS2     0.000000
A2MP1         4.147511
A3GALT2       0.000000
A4GALT     1104.333255
A4GNT         0.000000
AAAS       5881.248997
AACS       5294.326793
AACSP1        0.000000
AADAC         0.000000
AADACL2       0.000000
AADACL3       0.000000
AADACL4       0.000000
AADAT        61.159990
AAED1      1513.413377
AAGAB     10256.574005
AAK1       1489.666209
AAMDC      1633.568506
AAMP      25753.090812
AANAT        11.506666
AAR2       6716.393385
AARD        300.453471

In [22]:
txi$counts_normalized <- txi$counts / 5294.326793

In [23]:
write.csv(txi, "stringtie_counts.csv", row.names = TRUE)